[Unit]
Description=Valheim service
Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=10
User=username
WorkingDirectory=/home/du7/Valheim
ExecStart=/home/du7/Valheim/start_valheim.sh

[Install]
WantedBy=multi-user.target